<h1>Sign in</h1>

<%= form_with url: sign_in_path do |form| %>
    <div class = "mt-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <%= form.text_field :email, class: "form-control", placeholder: "example@email.com" %>
    </div>

    <div class = "mt-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        <%= link_to "Forgot your password?", password_reset_path %>
    </div>

    <div class = "mt-3">
        <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>
<% end %>